[Unit]
Description=Run-all script at startup
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/bin/bash /home/ayalg/switcher-hack/run-all.sh
WorkingDirectory=/home/ayalg/switcher-hack
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=yes
Environment="PYTHONPATH=/home/ayalg/.local/lib/python3.x/site-packages"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
User=ayalg

[Install]
WantedBy=multi-user.target
